<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>系统登录</title>
    <link href="../static/css/login.css" th:href="@{css/login.css}" rel="stylesheet" rev="stylesheet" type="text/css"
          media="all"/>
    <link href="../static/css/demo.css" th:href="@{css/demo.css}" rel="stylesheet" rev="stylesheet" type="text/css"
          media="all"/>
    <script type="text/javascript" th:src="@{js/jquery1.42.min.js}" src="../static/js/jquery1.42.min.js"></script>
    <script type="text/javascript" th:src="@{js/jquery.SuperSlide.js}" src="../static/js/jquery.SuperSlide.js"></script>
    <script type="text/javascript" th:src="@{js/Validform_v5.3.2_min.js}"
            src="../static/js/Validform_v5.3.2_min.js">
    </script>

    <script>
        $(function () {

            $(".i-text").focus(function () {
                $(this).addClass('h-light');
            });

            $(".i-text").focusout(function () {
                $(this).removeClass('h-light');
            });


            $("#yzm").focus(function () {
                var username = $(this).val();
                if (username == '输入验证码') {
                    $(this).val('');
                }
            });

        });
    </script>
</head>

<body>


<div class="header">
    <h1 class="headerLogo">
        <a title="后台管理系统" target="_blank" href="http://sc.chinaz.com/">
            <img alt="logo" src="../static/images/logo.gif" th:src="@{images/logo.gif}">
        </a>
    </h1>
    <div class="headerNav">
        <!--<a target="_blank" href="" th:href="@{}">用户注册</a>-->
    </div>
</div>

<div class="banner">

    <div class="login-aside">
        <div id="o-box-up"></div>
        <div id="o-box-down" style="table-layout:fixed;">
            <div class="error-box"></div>

            <form class="registerform" method="post" action="#" th:action="@{/login}">
                <div class="fm-item">
                    <label for="username" class="form-label">图书管理系统：</label>
                    <input type="text" placeholder="请输入用户名" maxlength="100" id="username" name="username"
                           class="i-text">
                    <div class="ui-form-explain"></div>
                </div>

                <div class="fm-item">
                    <label for="password" class="form-label">登陆密码：</label>
                    <input type="password" value="" maxlength="100" placeholder="请输入密码" id="password" name="password"
                           class="i-text">
                    <div class="ui-form-explain"></div>
                </div>


                <div class="fm-item">
                    <input type="submit" value="" tabindex="4" id="send-btn" class="btn-login">
                    <div class="ui-form-explain"></div>
                </div>

            </form>

        </div>

    </div>

    <div class="bd">
        <ul>
            <li th:style="'background:url('+@{images/theme.jpg}+');'">
                <a target="_blank"></a>
            </li>
        </ul>
    </div>

    <div class="hd">
        <ul></ul>
    </div>
</div>
<script type="text/javascript">
    jQuery(".banner").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        effect: "fold",
        autoPlay: true,
        autoPage: true,
        trigger: "click"
    });
</script>

<div class="banner-shadow"></div>

<div class="footer">
    <p>图书管理系统<a target="_blank" href="http://localhost:8080">www.bins.com</a></p>
</div>

</body>
</html>
